* {
	margin: 0;
	padding: 0;
	text-align: center;
}

.cal {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 50px;
	padding: 0px 0px 0px 0px;
	width: 421px;
	border: 1px solid green;
	border-radius: 2px;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-size: 20px;
}

.calHead {
	display: flex;
	flex-wrap: wrap;
	background-color:  rgba(56, 141, 48, 0.6);
	font-weight: bold;
}

.calBody {
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(182, 243, 170, 0.6);
}

.month {
	height: 60px;
	width: 150px;
	line-height: 60px;
}

.year {
	height: 60px;
	width: 150px;
	line-height: 60px;
}

.cell {
	cursor: pointer;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.none {
	color: rgba(0, 0, 0, 0.267);
	background-color: rgba(0, 0, 0, 0.062);
	cursor: default;
}

.curr {
	background-color:  rgba(56, 141, 48, 0.445);
}

.cell:hover {
	background: rgba(0, 0, 0, 0.199);
}

.checked {
	background-color:  rgba(124, 184, 151, 0.562);
}